{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="row default-layout">
			{{#post}}
			<!-- start post -->
			<article class="col-sm-12 post-wrap full-post">
				<div class="featured-media">
					{{#if image}}
						<div class="image-container">
							<img src="{{image}}" alt="{{{title}}}">
						</div>
					{{/if}}
				</div>
				
				<h2 class="title">{{{title}}}</h2>
				<div class="post-entry">
					{{content}}
				</div>
			</article>
			<!-- end post -->
			{{/post}}
			</div>
		</div>
		{{> sidebar}}
	</div>
</div>