<div class="secondary-bar">
	<div class="latest-slider-wrap clearfix">
		<div class="slider-title">
			latest
		</div>
		<div class="slider-nav">
			<a class="latest-prev" href=""><i class="fa fa-angle-left"></i></a>
			<a class="latest-next" href=""><i class="fa fa-angle-right"></i></a>
		</div>
		<!-- Start latest slider -->
		<div class="owl-carousel owl-theme item-wrap" id="title-slider">
		</div>
		<!-- end latest slider -->
	</div>
	{{> social-links}}
</div>