<!-- social icons -->
<ul class="social-links">
	<li><a href="https://www.facebook.com/kinstantly"><i class="fa fa-facebook"></i></a></li>
	<li><a href="https://twitter.com/Kinstantly"><i class="fa fa-twitter"></i></a></li>
	<li><a href="https://plus.google.com/+Kinstantly"><i class="fa fa-google-plus"></i></a></li>
</ul>