<!-- start tag cloud widget -->
<div class="widget">
	<h4 class="h5 title"><span>Newsletter</span></h4>
	<div class="content newsletter">
		<p>For our news update subscribe to our newsletter. You can unsubscribe anytime.</p>
		<div id="mc_embed_signup">
			<form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
				<div class="input-group">
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email...">
				</div>
				<div class="input-group">
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
				</div>
			</form>
		</div>
		<div id="message"></div>
	</div>
</div>
<!-- end tag cloud widget -->