<!-- start widget -->
<div class="widget">
	<h4 class="h5 title"><span>Twitter</span></h4>
	<div class="content tweets">
		<!-- start code from publish.twitter.com -->
		<a class="twitter-timeline" data-height="300" href="https://twitter.com/Kinstantly">Tweets by Kinstantly</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		<!-- end code from publish.twitter.com -->
	</div>
</div>
<!-- end widget -->