<!-- start widget -->
<div class="widget">
	<h4 class="h5 title"><span>Sponsor</span></h4>
	<div class="content ad">
		<a href="http://themeforest.net/user/gbjsolution/?ref=gbjsolution"><img src="{{asset "/images/theme_forest_300x250.jpg"}}"></a>
	</div>
</div>
<!-- end widget -->