<!-- start widget -->
<div class="widget">
	<h4 class="h5 title"><span>Text Widget</span></h4>
	<div class="content">
		It's a suitable place for adding small info about your site or other important information. Here you can add any text or html snippet.<br>
		All widgets are reorderable. Also if you want to remove any widget from sidebar or footer then that is very simple and easy.
	</div>
</div>
<!-- end widget -->